pkgbase = esixterm-git
	pkgdesc = An e621 viewer for the terminal
	pkgver = r4.ge482016
	pkgrel = 1
	url = https://github.com/XenithMusic/esixterm
	arch = any
	license = GPLv3
	depends = python
	depends = python-platformdirs
	depends = python-requests
	depends = python-webcolors
	depends = python-term-image
	depends = python-wcwidth
	provides = esixterm
	conflicts = esixterm
	source = esixterm-git.tar.gz::https://github.com/XenithMusic/esixterm/archive/refs/heads/master.tar.gz
	sha256sums = e60406f1cbbf6b109f92e2863f1437e1ec09365d9c92ddd25978a0f0f45212bb

pkgname = esixterm-git
