pkgbase = esixterm
	pkgdesc = An e621 viewer for the terminal
	pkgver = 0.3.4
	pkgrel = 1
	url = https://github.com/XenithMusic/esixterm
	arch = any
	license = GPLv3
	depends = python
	depends = python-platformdirs
	depends = python-requests
	depends = python-webcolors
	depends = python-term-image
	depends = python-wcwidth
	provides = esixterm
	conflicts = esixterm-git
	source = esixterm-0.3.4.tar.gz::https://github.com/XenithMusic/esixterm/archive/refs/tags/0.3.4.tar.gz
	sha256sums = 548e0ee8b0409e9eabd1b1bbcc73d7d0acd3e898d895eee853d0fea094a12478

pkgname = esixterm
