pkgbase = esixterm
	pkgdesc = An e621 viewer for the terminal
	pkgver = 0.3.5
	pkgrel = 1
	url = https://github.com/XenithMusic/esixterm
	arch = any
	license = GPLv3
	depends = python
	depends = python-platformdirs
	depends = python-requests
	depends = python-webcolors
	depends = python-term-image
	depends = python-wcwidth
	provides = esixterm
	conflicts = esixterm-git
	source = esixterm-0.3.5.tar.gz::https://github.com/XenithMusic/esixterm/archive/refs/tags/0.3.5.tar.gz
	sha256sums = 1df6d78fac09c47c994a0fcd50f029da6e787315c3dc68de0636788176d77d35

pkgname = esixterm
